.app-preview {
  padding: 0 4rem 10rem;
  //background: linear-gradient(180deg, #ffeadf 0%, #ffefe5 21.92%, #ffffff 38.05%);
  @media (max-width: $md) {
    padding: 5rem 5rem 24rem 5rem;
  }
}

.app-preview__image {
  position: relative;
  max-width: 102rem;
  margin: 0 auto;
  @media (max-width: $sm) {
    height: 10rem;
    &::before {
      content: none;
      width: 400px;
      height: 200px;
    }
  }
}

.app-preview__image img {
  margin-top: -9rem;
}

.app-preview__title {
  position: relative;
  font-family: $fontAvenir;
  font-weight: 300;
  font-size: 6.25rem;
  line-height: 1.28em;
  max-width: 106rem;
  margin: 0 auto 0;
  text-align: center;
  z-index: 2;
  @media (max-width: $sm) {
    margin-top: 40rem;
  }
}
