.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 14rem;
  height: 6rem;
  font-size: 1.75rem;
  line-height: 1.42em;
  color: $colorWhite;
  background-color: $colorBlack;
  border-radius: 0.5rem;
  font-family: $fontAvenir;
  font-weight: 900;
  transition: 0.4s;
  border: none;
  text-transform: uppercase;
  padding: 0 3rem;

  &:hover {
    background-color: $colorLightRed;
  }

  @media (max-width: $md) {
    height: 32px;
    font-size: 10px;
    min-width: 72px;
  }
}

.button--red {
  background-color: $colorLightRed;
  cursor: pointer;
  &:hover {
    background-color: $colorBlack;
  }
}

.button--blue {
  background-color: $colorBlue2;
  cursor: pointer;
  &:hover {
    background-color: $colorBlack;
  }
}
