.card {
  position: relative;
  padding: 0 4rem 0;
  margin-top: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .card-before {
    position: absolute;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-color: $colorBlack;
    left: 21vw;
    top: -2rem;
    @media (max-width: $sm) {
      top: 10rem;
      left: 13vw;
    }
  }

  @media (max-width: $sm) {
    margin-top: 20rem;
    padding: 0 2rem 30rem;
    &::before {
      left: 13vw;
    }
  }
}

.card__title {
  position: relative;
  font-family: $fontAvenir;
  font-weight: 300;
  font-size: 4.25rem;
  line-height: 1.5em;
  margin: 0 auto 8rem;
  max-width: 108rem;
  text-align: center;
  margin-top: -5rem;
  z-index: 1;
  @media (max-width: $sm) {
    padding: 0 2rem;
    font-size: 5rem;
    margin-top: -10rem;
  }

  span.card__title-before {
    position: absolute;
    width: 14rem;
    height: 14rem;
    background-color: $colorRed;
    bottom: 100%;
    left: calc(100% + 4rem);
    border-radius: 50%;
    @media (max-width: $sm) {
      left: calc(100% - 2rem);
      bottom: calc(100% - 4rem);
    }
  }
  span.card__title-after {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-color: $colorYellow;
    bottom: calc(100% + 2rem);
    right: calc(100% + 7vw);
    border-radius: 50%;
    @media (max-width: $sm) {
      bottom: calc(100% - 2rem);
      right: calc(100% - 1vw);
    }
  }
}

.card__benefits {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8rem 1rem 0;
  max-width: 90rem;
  margin: auto;
  box-shadow: inset 0 2px 0 0 $colorBlack;
  @media (max-width: $sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.card__benefits li {
  font-family: $fontAvenir;
  position: relative;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.42em;
  text-align: center;
  letter-spacing: 1px;
  max-width: 18rem;
  padding-top: 8rem;

  &::before {
    content: '';
    position: absolute;
    height: 6rem;
    width: 6rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/../../public/image/card-icon.svg');
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &:nth-child(2)::before {
    background-image: url('/../../public/image/wireless-icon.svg');
  }
  &:nth-child(3)::before {
    background-image: url('/../../public/image/heart-icon.svg');
  }
  @media (max-width: $md) {
    font-size: 10px;
    max-width: 24rem;
  }
}

.card__image-wrapper {
  position: relative;
  width: 64rem;
  height: 51rem;
}

.card__image.lazy {
  background-image: none;
}

.card__image {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url('/../../public/image/card-meera.png');
  background-size: cover;
  border-radius: 4rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 29rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  }
}
