.features {
  font-family: $fontAvenir;
  position: relative;
  padding: 0 2rem;
  display: flex;
  width: 75%;
  margin: 0 auto; 
  @media (max-width: $md) {
    padding: 0;
    display: block;
  }
  @media (max-width: $sm) {
    display: block;
  }
  @media (max-width: 1640px) {
    display: block;
  }
}


.features__slider-arrow {
  top: 50%;
  position: absolute;
  width: 26px;
  height: 48px;
  z-index: 5;
  background-size: cover;
  background-image: url(../../public/image/arrow-right.svg);
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  @media (max-width: $sm) {
    display: none !important;
  }
}

.features__slider-arrow-prev {
  transform: rotate(180deg);
  left: 80px;
  @media (max-width: $lg) {
    left: 40px;
  }
}

.features__slider-arrow-next {
  right: 80px;
  @media (max-width: $lg) {
    right: 40px;
  }
}

.features__slider {
  position: relative;
  width: 100%;
  @media (max-width: $lg) {
    padding: 0;
    margin: 0;
  }
}

.features__slide-container {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex !important;
  justify-content: center;
  margin-bottom: 128px;
}

.connector-div {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex !important;
  margin-bottom: 10rem;
  text-align: center;
}

.features__slide {
  display: flex;
  position: relative;
  height: fit-content;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15rem 18rem 0 20rem;
  opacity: 1;
  border-radius: 0px;
  max-width: 224rem;
  min-height: 76rem;
  margin: 0 12rem;
  @media (max-width: $md) {
    padding: 32rem 4rem 0 10rem;
  }
  @media (max-width: $sm) {
    padding: 6rem 8rem 0;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    max-width: 90%;
    margin: 0 7%;
  }
}

.features2__slide {
  display: flex;
  position: relative;
  height: fit-content;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5rem 5rem 0 5rem;
  opacity: 1;
  border-radius: 0px;
  max-width: 224rem;
  min-height: 66rem;
  margin: 0 2rem;
  @media (max-width: $md) {
    padding: 32rem 4rem 0 10rem;
  }
  @media (max-width: $sm) {
    padding: 6rem 8rem 0;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    max-width: 100%;
    margin: 0;
  }
}

.features__slide-container .features__slide.one {
  //background: #cef7c6;
  //background: url('/../../public/image/feature1-bg.jpg') no-repeat;
}

.features__slide-container .features__slide.two {
  //background: #def3ff;
  //background: url('/../../public/image/feature2-bg.jpg') no-repeat;
}

.features__slide-container .features__slide.three {
  //background: linear-gradient(0deg, #ffecc1, #ffecc1);
  //background: url('/../../public/image/feature3-bg.jpg') no-repeat;
}

.features__slide-container .features2__slide.one {
  //background: #def3ff;
  background: url('/../../public/image/feature1-bg.jpg') no-repeat;
}

.features__slide-container .features2__slide.two {
  //background: #def3ff;
  background: url('/../../public/image/feature2-bg.jpg') no-repeat;
}

.features__slide-container .features2__slide.three {
  //background: #def3ff;
  background: url('/../../public/image/feature3-bg.jpg') no-repeat;
}

.features__slide-header {
  position: absolute;
  top: 10rem;
  left: -9rem;
  @media (max-width: 1400px) {
    left: 5rem;
  }
  @media (max-width: $sm) {
    position: static;
  }
}

.features2__slide-header {
  position: absolute;
  top: 10rem;
  left: 5rem;
  @media (max-width: 1400px) {
    left: 5rem;
  }
  @media (max-width: 1440px) {
    top: 6rem;
  }
  @media (max-width: $sm) {
    position: static;
  }
  @media (max-width: 1280px) {
    top: 10rem;
  }
}

.features__slide-image {
  line-height: 0;
  max-width: 56rem;
  padding-left: 8rem;
  @media (max-width: $md) {
    max-width: 57rem;
  }
  @media (max-width: $sm) {
    max-width: 62%;
    margin: 0 auto;
    padding-left: 0;
  }
}

.features__slide-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 4rem;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.42em;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: $colorYellow;
  border-radius: 2rem;
  margin-bottom: 4rem;
  @media (max-width: $sm) {
    position: relative;
    top: 0;
    left: 0;
    height: 6rem;
    width: 20rem;
    font-size: 10px;
    border-radius: 20px;
    margin-bottom: 4rem;
  }
}

.features__slide-title {
  font-family: $fontAvenir;
  font-weight: 400;
  font-size: 6.25rem;
  line-height: 1.28em;
  max-width: 50rem;
  @media (max-width: $sm) {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    font-size: 6rem;
    margin-bottom: 4rem;
  }
}

.features2__slide-title {
  font-family: $fontAvenir;
  font-weight: 400;
  font-size: 4.25rem;
  line-height: 1.28em;
  max-width: 50rem;
  @media (max-width: $sm) {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    font-size: 6rem;
    margin-bottom: 4rem;
  }
}

.features__section-title {
  font-family: $fontAvenir;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 1.78em;
  width: 75%;
  @media (max-width: $sm) {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    font-size: 6rem;
    margin-bottom: 4rem;
  }
}

.features-box {
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.012);
        border-radius: 5px;
      }

.features__slide-descr {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2em;
  max-width: 48rem;
  padding-right: 2rem;
  padding-bottom: 8rem;
  text-align: justify;
  @media (max-width: $md) {
    font-size: 14px;
  }
  @media (max-width: $sm) {
    padding: 0;
    margin: 0;
    margin-bottom: 8rem;
    max-width: 100%;
  }
}

.features2__slide-descr {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6em;
  max-width: 48rem;
  padding-right: 2rem;
  padding-bottom: 8rem;
  text-align: justify;
  @media (max-width: $md) {
    //font-size: 3.5rem;
  }
  @media (max-width: $sm) {
    padding: 0;
    margin: 0;
    margin-bottom: 8rem;
    max-width: 100%;
    font-size: 3.5rem;
  }
}

.features .slick-slide {
  transition: 0.4s linear transform;
}
