.footer-subscribe {
  position: relative;
  padding: 22rem 2rem 28rem;
  //background: url('../../public/image/footer-bg.jpg') top center no-repeat;
  //background-size: cover;
  background-color: $colorBlue;
  color: #000;

  @media (max-width: $sm) {
    padding: 18rem 4rem 34rem;
  }
}

.footer-subscribe__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16.5rem;
  padding-left: calc(50% - 70rem);
  padding-right: calc(50% - 58rem);
  @media (max-width: $sm) {
    margin-bottom: 12rem;
  }
}

.footer-subscribe__title {
  position: relative;
  font-family: $fontAvenir;
  font-size: 6.25rem;
  line-height: 8rem;
  font-weight: 300;
  max-width: 60rem;

  .footer-subscribe__card {
    position: absolute;
    width: 24rem;
    height: 16rem;
    border-radius: 1rem;
    top: -30rem;
    left: 0;
    @media (max-width: $sm) {
      top: -23rem;
    }

    .footer-subscribe__card-img {
      width: 100%;
      position: relative;
      z-index: 2;
    }
  }
  @media (max-width: $sm) {
    max-width: 40rem;
    &::before {
      top: -26.5rem;
    }
  }
  .footer-subscribe__card-shadow {
    width: 100%;
    top: 30%;
    position: absolute;
    z-index: 1;
    left: 0;
  }
}

.footer-subscribe__title b {
  font-weight: 900;
}

.footer-subscribe__counter {
  display: flex;
  flex-direction: column;
  //align-items: flex-end;
  @media (max-width: $sm) {
    align-items: flex-start;
  }
}

.footer-subscribe__count {
  font-family: $fontAvenir;
  font-size: 19rem;
  font-weight: 800;
  line-height: 20rem;
  letter-spacing: -5px;
  margin-bottom: 2rem;
  @media (max-width: $sm) {
    font-size: 9rem;
    line-height: 10rem;
    letter-spacing: 0;
  }
}

.footer-subscribe__descr {
  position: relative;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 16rem;
  text-align: left;
  // &::before {
  //   content: '';
  //   position: absolute;
  //   width: 10rem;
  //   height: 4rem;
  //   background-image: url('../../public/image/dots.svg');
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   top: 6px;
  //   right: calc(100% + 16rem);
  // }

  @media (max-width: $md) {
    font-size: 10px;
    max-width: 19rem;
    // &::before {
    //   right: calc(100% + 11rem);
    // }
  }

  @media (max-width: $sm) {
    line-height: 12px;
    letter-spacing: 0.252294px;
    max-width: 22rem;

    // &::before {
    //   left: 0;
    //   right: 0;
    //   top: calc(100% + 3rem);
    // }
  }
}

.footer-subscribe__subscribe {
  position: relative;
  max-width: 116rem;
  width: 100%;
  margin: 0 auto;

  .email-sent {
    font: 900 3rem 'Avenir', sans-serif;
    //display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12rem;
    color: $colorBlack;
    border-radius: 0.5rem;
    @media (max-width: $sm) {
      border-radius: 0.5rem;
      font-size: 3rem;
    }
  }
}

.footer-subscribe__subscribe input {
  width: 100%;
  height: 12rem;
  padding: 2rem 23rem 2rem 2rem;
  font-size: 2rem;
  line-height: 1.5em;
  color: $colorBlack;
  font-weight: 400;
  border-radius: 0.5rem;
  border: solid thin;
  box-shadow: none;
  transition: 0.1s ease-in box-shadow;
  text-align: center;

  &::placeholder {
    font-weight: 400;
    color: $colorBlack;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 20px 40px rgba($colorBlack, 0.5);
  }

  &:focus::placeholder {
    color: rgba($colorBlack, 0.5);
  }
  @media (max-width: $sm) {
    padding-left: 4rem;
    height: 14rem;
    border-radius: 0.5rem;
    font-size: 3rem;
    &::placeholder {
      padding-left: 0;
    }
  }
}

.footer-subscribe__subscribe input.error {
  box-shadow: inset 0 0 0 4px #fff, inset 0 0 0 6px $colorRed;
}

.footer-subscribe__error-message {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 3rem;
  opacity: 0;
  @media (max-width: $lg) {
    font-size: 2.75rem;
  }
}

.footer-subscribe__subscribe input.error + .footer-subscribe__error-message {
  opacity: 1;
}

.footer-subscribe__button {
  position: absolute;
  right: 1rem;
  height: 9.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  @media (max-width: $sm) {
    right: 2rem;
    height: 10rem;
    width: 20rem;
  }
}
