.footer {
  position: relative;
  display: flex;
  margin: -12rem auto 0;
  height: 12rem;
  width: 100%;
  max-width: 144rem;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  color: $colorBlack;

  &::before {
    content: '';
    position: absolute;
    height: 2px;
    width: calc(100% - 4rem);
    background-color: $colorBlack;
    top: 0;
    left: 2rem;
  }
  @media (max-width: $sm) {
    height: 20rem;
    margin-top: -20rem;
  }

  &.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__copyright {
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
  @media (max-width: $sm) {
    font-size: 3rem;
    margin-left: 2rem;

    &--hide {
      display: none;
    }
  }
}

.footer__link {
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 600;
  color: $colorWhite;
  transition: 0.4s;
  padding-right: 11rem;
  &:hover {
    color: $colorBlack;
  }
  @media (max-width: $sm) {
    font-size: 3rem;
    padding-right: 0;
  }
}

.footer__social-list {
  display: flex;
  align-items: center;

  & li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: $colorBlack;
    border-radius: 50%;
    cursor: pointer;
    @media (max-width: $md) {
      width: 32px;
      height: 32px;
    }
  }

  & li + li {
    margin-left: 10px;
  }
  @media (max-width: $sm) {
    margin-right: 2rem;
  }
}
