.header {
  padding: 0 4rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  box-shadow: inset 0 -2px 0 0 $colorBlack;
  @media (max-width: $sm) {
    padding: 3rem 0 3rem 0;
    box-shadow: none;
    border-bottom: 1px solid $colorBlack;
  }
}

.header__logo {
  width: 14rem;
  @media (max-width: $xs) {
    width: 56px;
  }
}

.header-link {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: underline;
  color: gray;
  &:hover {
    color: $colorBlack;
  }
}
