.hero {
  padding: 16.8rem 2rem 23.75rem;
  font-family: $fontAvenir;
  @media (max-width: $sm) {
    padding: 14rem 4rem 8rem 4rem;
  }
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: calc(50% - 70rem);
  padding-left: calc(50% - 83.75rem);
  margin-bottom: 8rem;
  @media (max-width: $sm) {
    flex-direction: column;
    align-items: center;
  }
}

.hero__images-wrapper {
  width: 52rem;
  position: relative;
  margin-left: 5rem;

  @media (max-width: $lg) {
    width: 52rem;
  }

  @media (max-width: $md) {
    width: 60rem;
  }

  @media (max-width: $sm) {
    margin-left: 0;
    height: 70rem;
    width: 60rem;
  }

  @media (max-width: $xs) {
    height: 80rem;
  }

  .hero__slider {
    width: 100%;
    @media (max-width: $sm) {
      margin: 6rem 0 12rem 0;
      position: relative;
      .hero__images-pic:nth-child(1) {
        display: block;
      }
      .hero__images-pic:not(:nth-child(1)) {
        display: none;
      }
    }
  }

  .hero__images-dots {
    background: url('/../../public/image/hero/hero-slider/dots.svg') no-repeat;
    background-size: cover;
    position: absolute;
    width: 8.6rem;
    height: 8.6rem;
    top: 0;
    right: 0;
  }

  .hero__images-ellipse-large {
    background: url('/../../public/image/hero/hero-slider/ellipse-large.svg') no-repeat;
    background-size: cover;
    position: absolute;
    width: 29.3rem;
    height: 29.3rem;
    top: -2rem;
    left: -1rem;
  }

  .hero__images-ellipse {
    background: url('/../../public/image/hero/hero-slider/ellipse.svg') no-repeat;
    background-size: cover;
    position: absolute;
    width: 10rem;
    height: 10rem;
    right: 0;
    top: 37rem;
    @media (max-width: $sm) {
      top: auto;
      bottom: 14rem;
    }
  }
}

.hero__content-wrapper {
  width: 100%;
  padding-left: 5rem;
  max-width: 78rem;
  @media (max-width: $sm) {
    margin-top: -20px;
    padding-left: 0;
    order: 0;
  }
}

.hero__sub-title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.7em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 2rem;
  @media (max-width: $md) {
    font-size: 2.3rem;
    letter-spacing: 0.7px;
  }
}

.hero__title {
  position: relative;
  font-family: $fontAvenir;
  font-size: 6rem;
  font-weight: 900;
  margin-bottom: 1rem;
  margin-top: 9rem;
  text-align: left;
  @media (max-width: $sm) {
    margin-bottom: 1rem;
  }
}

.hero__title-caption {
  font-weight: 900;
  font-size: 6rem;
  line-height: 10rem;
  font-family: $fontAvenir;
  display: flex;
  @media (max-width: $sm) {
    margin-top: -1rem;
    font-size: 5.3rem;
  }
}

.hero__title-sub-caption {
  font-size: 3rem;
  font-family: $fontAvenir;
  line-height: 4rem;
  display: flex;
  margin-bottom: 3rem;
  text-align: justify;
  @media (max-width: $sm) {
    margin-top: -1rem;
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 4rem;
  }
}

.hero__title-sub-caption2 {
  font-weight: 500;
  font-size: 2rem;
  font-color: black;
  font-family: $fontAvenir;
  line-height: 4.5rem;
  display: flex;
  margin-bottom: 1rem;
  @media (max-width: $sm) {
    margin-top: -1rem;
    font-size: 3rem;
  }
}

.hero__title-text-box {
  display: inline-block;
  white-space: nowrap;
}

.hero__benefits {
  display: flex;
  margin-bottom: 8rem;
  justify-content: space-between;
  @media (max-width: $sm) {
    margin-bottom: 6rem;
  }

  li {
    position: relative;
    padding-top: 10rem;
    font-family: $fontNunito;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5em;
    max-width: 20rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 10rem;
      height: 6rem;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:nth-child(1) {
      max-width: 17rem;
      &::before {
        background-image: url('/../../public/image/hero/hero-icon.svg');
      }
    }
    &:nth-child(2)::before {
      background-image: url('/../../public/image/hero/hero-icon2.svg');
    }
    &:nth-child(3)::before {
      background-image: url('/../../public/image/hero/hero-icon3.svg');
    }
    @media (max-width: $md) {
      font-size: 14px;
    }

    @media (max-width: $sm) {
      max-width: none !important;
      display: flex;
      align-items: center;
      padding: 0 6rem 5rem 0;
      &::before {
        margin-right: 26px;
        position: relative;
      }
    }
  }

  @media (max-width: $sm) {
    flex-direction: column;
  }
}

.hero__subscription {
  position: relative;
  .email-sent {
    background: #fff;
    height: 8rem;
    width: 100%;
    font: 900 3rem 'Avenir', sans-serif;
    border-radius: 4rem;
    //display: flex;

    @media (max-width: $md) {
      height: 56px;
      border-radius: 4rem;
      font-size: 12px;
    }
  }
}

.resend-email {
  text-decoration: underline;
  cursor: pointer;
}

.hero__subscription-input {
  height: 8rem;
  width: 100%;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5em;
  border-radius: 0.5rem;
  border: solid thin;
  box-shadow: none;
  padding-left: 4rem;
  padding-right: 19rem;
  transition: 0.1s ease-in box-shadow;
  @media (max-width: $md) {
    height: 56px;
    border-radius: 0.5rem;
    font-size: 12px;
  }
}

.hero__subscription-input + span {
  position: absolute;
  top: calc(100% + 1.5rem);
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 3rem;
  opacity: 0;
  // color: $colorWhite;
}

.hero__subscription-input.error {
  box-shadow: inset 0 0 0 4px #fff, inset 0 0 0 6px $colorRed;
}

.hero__subscription-input.error + span {
  opacity: 1;
}

.hero__subscription-input::placeholder {
  color: $colorBlack;
}

.hero__subscription-input:focus,
.hero__subscription-input:hover {
  box-shadow: 0px 20px 40px #ffdbd5;
}

.hero__subscription-input:focus::placeholder {
  color: rgba($colorBlack, 0.5);
}

.hero__subscription-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  @media (max-width: $md) {
    height: 40px;
    border-radius: 0.5rem;
    top: 8px;
    right: 8px;
    width: 22rem;
  }
}
