.subscribed {
  font-family: $fontAvenir;
  // position: relative;
  // padding: 0 2rem;
  // display: flex;
  // width: 75%;
  // margin: 0 auto; 
  @media (max-width: $md) {
    padding: 0;
    display: block;
  }
  @media (max-width: $sm) {
    display: block;
  }
  @media (max-width: 1280px) {
    display: block;
  }
}

.subscribed__confirmation-page {
  @media (min-width: $sm) {
    max-width: 75%
  }
  @media (min-width: $lg) {
    max-width: 50%
  }
  width: 100%;
  text-align: left;
  margin: 5% auto;
  padding: 8rem 8rem;
  background: #f2f2f2;
  display: none;
}

.subscribed__confirmation-content {
  width: 100%;
  text-align: left;
  margin: 2% auto;
}

.subscribed__confirmation-image-div {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0rem;
}

.subscribed__confirmation-image {
  margin-top: 0rem;
  @media (min-width: $xs) {
    height: 50%;
    width: 50%;
  }
}

.subscribed__confirmation-title {
  width: 100%;
  font-family: Avenir;
  font-size: 4rem;
  display: inline-block;
  font-color: black;
  margin-bottom: 2rem;
}

.subscribed__confirmation-subtitle {
  width: 100%;
  font-family: Avenir;
  font-size: 2.5rem;
  display: inline-block;
  line-height: 2.5rem;
  margin-bottom: 3rem;
  @media (max-width: $sm) {
    line-height: 5rem;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

.subscribed__confirmation-text {
  width: 100%;
  font-family: Avenir;
  font-size: 2rem;
  display: inline-block;
  line-height: 2rem;
  margin-bottom: 2rem;
  @media (max-width: $sm) {
    line-height: 4rem;
  }
}

.subscribed__deposit-q {
  width: 100%;
  font-family: Avenir;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  line-height: 2rem;
  margin-bottom: 2rem;
  @media (max-width: $sm) {
    line-height: 4rem;
    font-size: 3rem;
  }
}

.subscribed__option {
  width: 100%;
  font-family: Avenir;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  line-height: 3rem;
  margin-bottom: 2rem;
  @media (max-width: $sm) {
    line-height: 4rem;
    font-size: 3rem;
  }
}

.subscribed__copy-link-btn {
  cursor: pointer;
  border-radius: 0.2rem;
  border: none;
  padding: 0.5rem;
  font-size: 1.7rem;
  background-color: $colorYellow;
  @media (max-width: $sm) {
    font-size: 3rem;
  }
  &:hover {
    background-color: #f2f2f2;
    border: solid gray 0.1rem;
    padding: 0.4rem;
  }
}

.subscribed__copy-link-btn-clicked {
  background-color: #f2f2f2 !important;
}

.subscribed__deposit-thanks {
  display: none;
  font-family: Avenir;
  font-size: 2rem;
  margin-bottom: 3rem;
  @media (max-width: $sm) {
    font-size: 3rem;
  }
}

.subscribed__deposit-q-img {
  height: 100%;
  width: 100%;
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

.subscribed__deposit-range {
  @media (max-width: $sm) {
    font-size: 2rem;
  }
}

.subscribed__deposit-interest {
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  @media (max-width: $sm) {
    font-size: 2rem;
  }
}

.subscribed__deposit-q-options {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5rem;
  @media (max-width: $sm) {
    font-size: 3rem;
  }
}

.subscribed__deposit-q-option {
  text-align: center;
  border: solid gray 0.1rem;
  padding: 2rem 1rem;
  border-radius: 0.2rem;
  margin-left: 1rem;
  @media (max-width: $xs) {
    border: solid gray 0.2rem;
  }
}

.subscribed__deposit-q-option:hover {
  cursor: pointer;
  background: white;
  box-shadow:
  0 2.8px 2.2px rgba(18, 18, 18, 0.034),
  0 6.7px 5.3px rgba(18, 18, 18, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.012);
}

.subscribed__header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 2rem 0;
  box-shadow: inset 0 -2px 0 0 #1e1a20;
  margin-bottom: 2rem;
}

.subscribed__share-buttons {
  margin-top: 0rem;
  margin-bottom: 5rem;
}

.subscribed__header__logo {
  width: 16rem;
}

#uniqueLink {
  text-decoration: none;
}