//font-weight Light
@font-face {
  font-family: 'Avenir';
  src: url('./../fonts/Avenir-Light.woff')  format('woff');
  font-weight: 300;
  font-style: normal;
}

//font-weight Regular
@font-face {
  font-family: 'Avenir';
  src: url('./../fonts/Avenir-Book.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}
//font-weight Ultra Bold
@font-face {
  font-family: 'Avenir';
  src: url('./../fonts/Avenir-Black.woff')  format('woff');
  font-weight: 900;
  font-style: normal;
}