* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 4px;
  overflow-x: hidden;
  height: 100%;
  @media (min-width: $xs) {
    font-size: 5px;
  }
  @media (min-width: $md) {
    font-size: 8px;
  }
  @media (min-width: 1920px) {
    font-size: 10px;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $colorBlack;
  font-family: $fontAvenir;
  font-weight: 400;
}

a {
  text-decoration: none;

  cursor: pointer;

  &:focus {
    outline: none;
  }
}

img {
  width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

li {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  @media (max-width: $md) {
    max-width: 140rem;
  }
  @media (max-width: $sm) {
    max-width: 80rem;
  }
}

.stop {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.top-invite {
  display: none;
  position:fixed;
  top: 0;
  width: 100%;
  margin: auto;
  z-index: 9999;
  background-color: $colorGray;
  padding: 3rem;
}

.top-invite {
 .hero__subscription {
    position: relative;
    width: 50%;
    margin: auto;
    @media (max-width: $sm) {
      width: 60%;
    }
    @media (max-width: $xs) {
      width: 100%;
    }
    .email-sent {
      background: none;
      text-align: center;
      display: block;
    }
  }
}
/*.head {
  background: linear-gradient(180deg, #ffe3df 0%, #ffebdf 100%),
    linear-gradient(0deg, #febd2f, #febd2f),
    radial-gradient(178.57% 327.71% at 110.1% 3.35%, #ff605b 0%, #ffee30 100%);
  @media (max-width: $sm) {
    padding-bottom: 60px;
  }
}*/
