@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin calcFontSize ($min-vw, $max-vw, $min-font-size, $max-font-size) {
  font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
}