// Fonts
$fontAvenir: 'Avenir', sans-serif;
$fontNunito: 'Nunito', sans-serif;

$colorBlack: #1e1a20;
$colorWhite: #fff;
$colorRed: #fe6145;
$colorLightRed: #ff7575;
$colorYellow: #febd2f;
$colorBlue: #86d3f4;
$colorBlue2: #0055FF;
$colorGray: #f2f2f2;

$xs: 575.98px;
$sm: 767.98px;
$md: 1024px;
$lg: 1199.98px;
